// Text
.is-underlined {
    text-decoration: underline;
}

// Height
.is-fullheight {
    height: 100% !important;
}

// Modal
.modal.is-full-screen > .animation-content {
    background-color: rgba(10, 10, 10, 0.46);
}