// Body
// body {
//     height: 100vh;
//     overflow: hidden;
// }

// Text
.is-underlined {
    text-decoration: underline;
}

// Margin
.m-auto {
    margin: auto !important;
}

// Width
.w-15vh {
    width: 15vh;
}

// Display
.is-grid {
    display: grid;
}

// Height
.is-fullheight {
    height: 100% !important;
}

// Modal
.modal.is-full-screen > .animation-content {
    background-color: rgba(10, 10, 10, 0.46);
}

// Radio Button
.b-radio.radio.button {
    border: 1px solid #2A363D;
    border-radius: 290486px !important;
    text-decoration: none !important;
    font-weight: 400 !important;
    color: #2A363D !important;
}

// Tabs
.tabs.is-toggle a {
    border-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
}
.tabs.is-toggle li.is-active a {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    border-radius: 30px !important;
}
.tabs.is-toggle a:hover {
    border: none !important;
    border-radius: 30px !important;
    color: #fff;
}
.b-tabs.is-vertical {
    flex-wrap: nowrap;
}

// Border
.border-radius-30px {
    border-radius: 30px;
}

.border-0 {
    border: 0 !important;
}

// Dropdwon
.dropdown-content {
    margin-top: 30px;
}
a.dropdown-item {
    font-weight: bold;
}

// Forms - Inputs
.input::placeholder {
    text-align: center;
}
.input {
    text-align: center;
}

// Buttons
.button {
    font-weight: bold;
}
.button:active, .button:focus {
    color: #027881;
}

// Toast
.notices .toast {
    font-weight: bold;
}

// Sidebar
// .b-sidebar .sidebar-content.is-fullheight {
//     margin-top: 8vh;
// }
.b-sidebar .sidebar-content.is-mini {
    width: 20px;
}

// Extras
.model-bottom {
    background-color: $green;
    font-size: 0.75rem;
    color: #fff;
    height: 2em;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 6px 0px 0px 0px;
    font-weight: bold;
}

.modal-card-name-home {
    height: 40rem;
    display: grid;
}

.name-input {
  border: none;
  border-bottom: 2px solid #027881;
  border-radius: 0px !important;
  box-shadow: none;
}

// Mobile 

@media screen and (max-width: 768px) {
    .mx-0-mobile {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .is-justify-content-center-mobile {
        justify-content: center;
    }
    .is-size-7-mobile {
        font-size: 0.6rem !important;
    }
    .mx-3-mobile {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
    .width-17bh-mobile {
        width: 17vh;
    }
} 